  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-2 col-xs-2">
      </div>
      <div class="col-lg-6 col-md-3 col-sm-8 col-xs-8">
        <form  method="POST" class="center-block" (ngSubmit)="submitMe(f)" #f="ngForm">


          <!-- profile picture -->
          <label for="fileupload"> Profile Picture</label> 
          <input type="file" name="fileupload" value="fileupload" id="fileupload" accept="image/gif, image/jpeg, image/png"> 


          <!-- name-->
          <div class="form-group">
            <label> Name</label>
              <input type="text" class="form-control" placeholder="FirstName" required name="FirstName" ngModel #name="ngModel" minlength="5" maxlength="15">
          </div>
          <div  class="alert alert-danger text-center" *ngIf="!name.valid && name.touched">
          <div *ngIf="name.errors.required">Name is required!</div>
          <div *ngIf="name.errors.minlength">can't be less than 5 characters</div>
          </div>
          

          <!-- email -->
          <div class="form-group">
            <label>Email</label>
              <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" placeholder="name@example.com" required name="Email" ngModel #email="ngModel">
          </div>
          <div  class="alert alert-danger text-center" *ngIf="!email.valid && email.touched">
          <div *ngIf="email.errors.required">Email is required!</div>
          <div *ngIf="email.errors.pattern">Email is not valid</div>

          </div>


          <!-- phone -->
          <div class="form-group">
            <label>Phone</label>
              <input type="text" pattern="^[0-9]*$" #phone="ngModel" class="form-control" required placeholder="Phone" name="Phone" minlength="11" maxlength="11" ngModel >
          </div>
          <div class="alert alert-danger text-center" *ngIf="!phone.valid && phone.touched">
            <div *ngIf="phone.errors.pattern">accepts only numbers</div>
            <div *ngIf="phone.errors.required">Phone is required!</div>
            <div *ngIf="phone.errors.minlength">can't be less than 11 numbers</div>
          </div>
          

          <!-- national ID -->
          <div class="form-group">
            <label>National ID</label>
            <input type="text" pattern="^[0-9]*$" #nationalID="ngModel" class="form-control" required placeholder="National ID" name="nationalID" ngModel>
          </div>
          <div class="alert alert-danger text-center" *ngIf="!nationalID.valid && nationalID.touched">
            <div *ngIf="nationalID.errors.required">National ID is required!</div>
            <div *ngIf="nationalID.errors.pattern">accepts only numbers</div>
          </div>
          

          <!-- university -->
          <div class="form-group">
            <label>University</label>
            <input type="text" placeholder="University" required name="university" class="form-control" ngModel #university="ngModel" >
          </div>
          <div class="alert alert-danger text-center" *ngIf="!university.valid && university.touched">
            <div *ngIf="university.errors.required">University is required!</div>
          </div>
          

          <!-- faculty -->
          <div class="form-group">
            <label>Faculty</label>
            <input type="text" placeholder="Faculty" required name="faculty" class="form-control" ngModel #faculty="ngModel">
          </div>
          <div class="alert alert-danger text-center" *ngIf="!faculty.valid && faculty.touched">
            <div *ngIf="faculty.errors.required">Faculty is required!</div>
          </div>


          <!-- major -->
          <div class="form-group">
            <label>Major</label>
            <input type="text" placeholder="Major" required name="major" class="form-control" ngModel #major="ngModel">
          </div>
          <div class="alert alert-danger text-center" *ngIf="!major.valid && major.touched">
            <div *ngIf="major.errors.required">Major is required!</div>
          </div>


          <!-- minor -->
          <div class="form-group">
            <label>Minor</label>
            <input type="text" placeholder="Minor" required name="minor" class="form-control" ngModel #minor="ngModel">
          </div>
          <div class="alert alert-danger text-center" *ngIf="!minor.valid && minor.touched">
            <div *ngIf="minor.errors.required">Minor is required!</div>
          </div>


          <!-- expected graduation year -->
          <div class="form-group">
            <label>Expected Graduation Year</label>
      <input type="number" pattern="^[0-9]*$" #year="ngModel" class="form-control" required placeholder="Expected Graduation Year" name="year" ngModel>
          </div>
          <div class="alert alert-danger text-center" *ngIf="!year.valid && year.touched">
            <div *ngIf="year.errors.required">Expected Graduation Year is required!</div>
          </div>
            <br>


             <input type="submit" class="btn btn-primary" [disabled]="!f.valid" value="submit"> 

        </form>

      </div>
      <div class="col-lg-3 col-md-6 col-sm-2 col-xs-2">
      </div>
    </div>
  </div>



